[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

"dj-database-url" = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
lassie = "*"
"django-adaptors" = "*"
csvimporter = "*"
"django-csvimport" = "*"
"django-import-export" = "*"
"requests-file" = "*"
tldextract = "*"
tld = "*"


[requires]
python_version = "3.6"