{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <h2>About Us</h2>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Who are we?</span>
                    <p>We are a project group in George Mason University's CS 321 course. To the right you can see quotes that vaguely relate to our mission, because that's what all the cool startups are doing.</p>
                </div>
                <div class="card-action">
                    <a href="https://volgenau.gmu.edu/course/view/15851">Course Page</a>
                </div>
            </div>
        </div>
        <div class ="col s12 m6">
            <p><font size="5.85">"Better slip with foot than tongue."<br></font><font size="4.5"> - Benjamin Franklin</font><br><br>
                <font size = "5">"Say what you have to say, not what you ought. Any truth is better than make-believe."</font><br>
                <font size="4.5">- Henry David Thoreau</font></p>
        </div>
    </div>
    <div class = "row">
        <div class ="col s12 m6">
            <img src = "https://cdn.pixabay.com/photo/2014/06/05/13/29/oriya-362691_960_720.png" alt="Group nine" style="width:71%;height:71%;">
        </div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Why we made the filternews app</span>
                    <p>In this day and age, fake news is everywhere. When you can't be sure a news source is telling the truth or
        seeking political or monetary gain, the average citizen is hurt the most. This leaves the need for a way to check
        if a given news source is reliable or not. Group #9 has developed just such a web application so you too can
        determine if a news source is feeding you facts, or fiction.</p>
                </div>
                <div class="card-action">
                    <a href="https://docs.google.com/document/d/10eA5-mCZLSS4MQY5QGb5ewC3VAL6pLkT53V_81ZyitM/preview">News source documentation provided by Melissa Zimdars</a>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col s12 m4">
            <div class="chip">
                <a href="/">Pisith Yim</a>
            </div>
        </div>
        <div class = "col s12 m4">
            <div class="chip">
                <a href="/">Allison Howland</a>
            </div>
        </div>
        <div class = "col s12 m4">
            <div class="chip">
                <a href="mailto: asiebold0@gmail.com">Alexander Siebold</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}