<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

<title>Article Filter</title>
  <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse blue darken-3">
  <div class="container">
    <ul class="left">
      <li class="tooltipped valign-wrapper" data-position="bottom" data-tooltip="HOMEPAGE">
        <a href="/"><i class="material-icons">home</i></a>
      </li>
      <li class="tooltipped valign-wrapper" data-position="bottom" data-tooltip="About Us"><a href="#" data-activates="aboutus" class="act-mod-right"><i class="material-icons">language</i></a></li>
    </ul>
    <ul class="right">
      <li class="tooltipped valign-wrapper" data-position="bottom" data-tooltip="OUR TEAM"><a href="#" data-activates="our-team" class="act-mod-left"><i class="material-icons">group</i></a></li>
      <li class="tooltipped valign-wrapper" data-position="bottom" data-tooltip="HOW APP WORKS"><a href="#" data-activates="how-work" class="act-mod-left"><i class="material-icons">settings</i></a></li>
      <li class="tooltipped valign-wrapper" data-position="bottom" data-tooltip="FAQS"><a href="#" data-activates="faq" class="act-mod-left"><i class="material-icons">help</i></a></li>
    </ul>
  </div>
</nav>
{% include "main/sidemodal.html" %}  

{% block content %}{% endblock %}

<!-- Compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'main/script.js' %}"></script>
</body>
</html>
